// http://bramsmulders.com/how-i-improved-my-workflow-with-smacss-sass.html
@import 'base';
@import 'modules'; //modules represent entities that can be reused in multiple components e.g. buttons and so on


$width: 320px;
$nav-height: 75px;
.nav, .nav-spacer {
  width: $width;
  height: $nav-height;
}
.nav {
  @extend %u-center-content;
  background-color: #769897;
  color: white;
  font-size: 35px;
  opacity: 0.85;
  top: 0;
  //will-change: scroll-position;
  transform: translateZ(0);
}
.nav--fixed {
  position: fixed;
  z-index: 1;
}
.nav-spacer {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}
.nav-spacer--expanded {
  position: relative; //push down the rest of the page by switching from absolute to relative;
}




// Misc rules not related to the nav sticky behavior
%u-center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  overflow-x: hidden;
  margin: 0;
  background-color: white;
  width: 100vw;
  min-height: 100vh;
  @extend %u-center-content;
  padding: 20px 0;
}
.content {
  position: relative;
  width: $width;
  background-color: #AEAEAE;
  box-sizing: border-box;
  &:before {
    content: '';
    position: absolute;
    top: 0;
  }
}
.rest {
  padding: 20px;
  box-sizing: border-box;
}
.block {
  width: 100%;
  height: 125px;
  background-color: #feffbb;
  margin-bottom: 20px;
  position: relative;
  @extend %u-center-content;
  @for $i from 1 through 20 {
    &:nth-of-type(#{$i}) {
      &:after {
        content: '#{$i}';
        color: #ff5555;
        font-size: 30px;
      }
    }
  }
}
