{
  "presets": ["es2015"],
  "env": {
    "production": {
      "presets": ["babili"], //use babili for minifcation, as it understands native es6,
      "plugins": ["remove-comments"]
    }
  },
  "plugins": [
    ["transform-es2015-for-of", {
      "loose": true
    }],
    ["remove-comments"]
  ]
}
