<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
</head>

<body>
  <section class="content">
    <div class="nav-spacer"></div>
    <nav class="nav"> NAV </nav>
    <section class="rest">
      <article class="block"></article>
      <article class="block"></article>
      <article class="block"></article>
      <article class="block"></article>
      <article class="block"></article>
      <article class="block"></article>
      <article class="block"></article>
      <article class="block"></article>
      <article class="block"></article>
      <article class="block"></article>
      <article class="block"></article>
      <article class="block"></article>
      <article class="block"></article>
      <article class="block"></article>
      <article class="block"></article>
    </section>
  </div>
</div>
</html>
