//color names provided by http://chir.ag/projects/name-that-color/
$white: darken(#fff, 12%);
$black: #03050b;
$mineshaft: #373737;
$gold: #ffd700;
$dark-green: #2b5034;
$dark-red: darken(#de0c02, 10%);
$red-glow: #66030c;
$stranger-blue: #0a2a40;
