<nav class="nav">
  <div class="u-maxw nav__content">
    <div class="nav__account nav--collapsible-mobile">
      <i class="material-icons">account_circle</i>
    </div>
    <div class="nav__fav nav--collapsible-mobile">
      <i class="material-icons">favorite_border</i>
    </div>
    <div class="nav__logo nav--collapsible-mobile">
      {{> ../partials/logo}}
    </div>
    <div class="nav__notifications">
      <i class="material-icons">notifications</i>
    </div>
    <div class="nav__cart nav--collapsible-mobile">
      <i class="material-icons">shopping_cart</i>
    </div>
    <div class="nav__search">
      <i class="material-icons">search</i>
      <p>&nbsp;&nbsp;Search</p>
    </div>
    <ul class="nav__carousel u-maxw">
      <li class="nav__category is-active">FEATURED</li>
      <li class="nav__category">WOMEN</li>
      <li class="nav__category">MEN</li>
      <li class="nav__category">KIDS</li>
      <li class="nav__category">HOME</li>
      <li class="nav__category">CITY</li>
      <li class="nav__category">TRAVEL</li>
    </ul>
  </div>
</nav>
<div class="nav-spacer"></div>
