.r-btn {
  @include cleanFont();
  align-items: center;
  justify-content: center;
  background-color: $dark-red;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;

  outline: none;
  text-transform: capitalize;

  &:hover, &:active {
    text-decoration: underline;
  }
  @include medium-down {
    font-size: 15px;
    height: 35px;
    padding: 0 20px;
  }
  @include large-up {
    font-size: 16px;
    height: 34px;
    padding: 0 22px;
  }
  @include max-width {
    font-size: 18px;
    height: 36px;
    padding: 0 24px;
  }
  &:visited, & {
    text-decoration: none !important;
    color: $white;
  }
  &:hover, &:active, &:focus{
    color: $white;
    text-decoration: underline;
  }
}
.r-btn--large {
  @include medium-down {
    font-size: 20px;
    height: 40px;
    padding: 0 30px;
  }
  @include large-up {
    font-size: 24px;
    height: 45px;
    padding: 0 35px;
  }
  @include max-width {
    font-size: 28px;
    height: 50px;
    padding: 0 40px;
  }
}
