//mobile
$height-search: 45px;
$height-carousel: 45px;
$height-topbar: 55px;
$nav-height: $height-topbar + $height-search + $height-carousel;

//desktop
$height-search--desktop: 50px;
$height-carousel--desktop: 50px;
$height-topbar--desktop: 55px;
$nav-height--desktop: $height-topbar--desktop + $height-carousel--desktop;

//vars
$icon-pad: 13px;

//Container
.nav, .nav-spacer {
  height: $nav-height;
  @include widerScreen {
    height: $nav-height--desktop;
  }
}
.nav {
  @extend %u-gpu;
  background-color: $black;
  opacity: 0.85;
  position: fixed;
  padding: 0 20px;
  z-index: $z-index-1;
  color: $mineshaft;
  width: 100%;
}
.nav__content {
  background-color: $black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: $superwide_px + px;
}
.nav-spacer {
  pointer-events: none;
  opacity: 0;
}

.nav__account, .nav__fav, .nav__notifications, .nav__logo, .nav__cart {
  height: $height-topbar;
  display: inline-flex;
  align-items: center;
  @include widerScreen {
    height: $height-topbar--desktop;
    margin-right: $icon-pad;
  }
}

//Account
.nav__account {
  @include widerScreen {
    order: 3;
  }
}

//Notifications
.nav__notifications {
  display: none;
  @include widerScreen {
    display: inline-flex;
    order: 4;
  }
}

//Favorites
.nav__fav {
  @include smallerScreen {
    margin-left: $icon-pad;
    margin-right: auto;
  }
  @include widerScreen {
    order: 5;
  }
}

//Cart
.nav__cart {
  @include widerScreen {
    order: 6;
    margin-right: 0;
  }
}
//Logo
.nav__logo {
  @include smallerScreen {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  justify-content: center;
  .logo {
    height: 30px;
  }
  @include widerScreen {
    order: 1;
  }
}
//Search
.nav__search {
  border-radius: 5px;
  width: 100%;
  min-width: 300px;
  height: $height-search;
  padding: 10px;
  background-color: white;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  @include widerScreen() {
    width: auto;
    $offset: 14px;
    flex-grow: 1;
    height: $height-search--desktop - $offset;
    order: 2;
    margin: $offset / 2 $icon-pad;
  }
}

//Carousel
.nav__carousel {
  @extend %u-center-content;
  justify-content: space-between;
  height: $height-carousel;
  @include widerScreen() {
    height: $height-carousel--desktop;
    order: 7;
    max-width: span-cols(8, true);
  }
  overflow: hidden;
}
.nav__category {
  position: relative;
  height: 100%;
  margin-right: $icon-pad;
  @extend %u-center-content;
  &.is-active {
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: gold;
      height: 5px;
      width: 100%;
    }
  }
}
